<!DOCTYPE html>
<html>
<head>
	<title>Securely Submit Files and messages to IranUnchained</title>
	<link href="static/css/pure-min.css" rel="stylesheet" >
	<link href="static/css/style.css" rel="stylesheet" >
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
	{% block head %}
	{% endblock %}
</head>
<body>
<div id="content-container">
	<div id="logo-container">
		<img srcset="static/img/fulllogo_transparent.svg 2x, static/img/fulllogo_transparent.svg 1x" src="static/img/fulllogo_transparent.svg"  alt="IranUnchained Logo" class="logo">
	</div>

  {% block body %}
  {% endblock %}

</div>
</body>
</html>